.DiggyStats {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 33px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.4);
    width: 85vw;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;
    box-shadow: 0px 6px 8px rgba(13, 71, 161, 0.15);
}

.iconImage {
    width: 1.5vw;
}

.DiggyStatsColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    align-items: flex-start;
    padding-left: 2vw;
    padding-right: 2vw;
}

.DiggyStatsIcons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.TitleColumn {
    font-family: "Manrope", sans-serif;
    width: auto;
    font-size: 1.25em;
    margin-top: 20px;
    text-align: left;
}

.ContentColumn {
    font-family: "Manrope", sans-serif;
    width: auto;
    font-size: 1.25em;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .TitleColumn {
        color: black;
    }

    .ContentColumn {
        color: black;
    }
}

@media screen and (max-width: 900px) {
    .ContentColumn {
        font-size: 1em;
    }

    .TitleColumn {
        font-size: 1em;
    }

    .DiggyStatsColumn {
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

@media screen and (max-width: 700px) {
    .ContentColumn {
        font-size: 0.5em;
    }

    .TitleColumn {
        font-size: 0.5em;
    }
}

.positive24 {
    background-color: #0f03;
    color: black;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid green;
}

.negative24 {
    background-color: rgba(255, 0, 0, 0.2);
    color: black;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid red;
}