@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&display=swap');

.App {
  text-align: center;

}

.MainDiv {
  height: 100vh;
  min-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #0913FB, #0210B5);
}

.SubText {
  font-family: "Manrope", sans-serif;
  min-width: 300px;
}

.Coins {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-items: center;
}

.MainButtons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}

.TopBar {
  position: absolute;
  top: 0;
  width: 100%;
}

.DiggyCounter {
  margin-top: 75px;
}

.DiggyBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.DiggySection {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SecondButtonRow {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .DiggySection {
    flex-direction: column;
  }

  .SecondButtonRow {
    justify-content: center;
  }

  .DiggyMining {
    order: 2;
  }

  .DiggyTroopStatsContent {
    order: 1
  }
}