@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&display=swap');

.App {
  text-align: center;

}

.MainDiv {
  height: 100vh;
  min-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #0913FB, #0210B5);
  position: relative;
  z-index: 1;
}

.MainDiv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/DiggyOverlay.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  filter: blur(30px);
  z-index: 0;
}

.BottomImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.Title {
  width: 41vw;
  min-width: 300px;
}

h1,
p {
  z-index: 1;
}

.SubText {
  font-family: "Manrope", sans-serif;
  min-width: 300px;
}

.Coins {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-items: center;
  z-index: 1;
}

.MainButtons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  z-index: 1;
}

.TopBar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.DiggyCounter {
  margin-top: 75px;
  z-index: 1;
}

.DiggyBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.DiggySection {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SecondButtonRow {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .DiggySection {
    flex-direction: column;
  }

  .SecondButtonRow {
    justify-content: center;
  }

  .DiggyMining {
    order: 2;
  }

  .DiggyTroopStatsContent {
    order: 1
  }
}

.BlueSvg {
  position: absolute;
  width: 100%;
  top: -40vw;
}

.leftAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.DiggyCoin {
  position: absolute;
  opacity: 0.1;
  top: -2vw;
  width: 38vw;
  height: 38vw;
}

.DiggyMiningAnim {
  height: 52.5vw;
  width: 100vw;
  margin: 0;
  padding: 0;
}